body {

  font-family: "Montserrat", sans-serif;
  /*font-weight: 400;*/
}

#ABmap {
  width: 100%;
  height: calc(75vh);
}

#note {
  background-color: darkgrey;
  color: white;
  font-size: small;
}

/* #prev {
  /* width: 99%; */
  /* height: 57rem;
  overflow: scroll; */
/*} */

hr {
  width: 100%;
  /* height: 0.2px; */
  margin-left: auto;
  margin-right: auto;
  background-color: #000107;
}

.my-tooltip {
  background-color: rgb(1, 48, 110);
}

#scroll-background {
  height: 40rem;
  overflow-y: scroll;
}

#scroll-analysis {
  height: 35rem;
  overflow-y: scroll;
}

.list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-left: 12px;
  margin-top: 0px;
}

.dataBox {
  height: 5rem;
  /* width: 18rem; */
}

.labelBox {
  height: 3rem;
}

.card-body {
  padding: 0.8rem;
}

.card-footer {
  padding: 0.5rem;
  font-size: small;
  text-align: center;
}

.card-footer-v {
  padding: 0rem;
  font-size: small;
  text-align: center;
}

.card-footer #county_label {
  padding: 0rem;
  font-size: small;
}

.state {
  fill: none;
  stroke: #000141;
  stroke-width: 2;
}

.county {
  /*fill: #fac484;*/
  stroke: #79b5fa;
}

.county:hover {
  /*fill: #f3e79b;*/
  stroke: #fdfcfc;
  stroke-width: 2;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h5 {
  letter-spacing: 2px;
  /* text-align: center; */
}

#dropdownMenuButton {
  color: #bbbe02;
}

a {
  color: #bbbe02;
  text-decoration: none;
}

a:hover {
  color: #2665da;
  text-decoration: none;

}

.dropdown-menu {
  max-height: 320px;
  overflow-y: auto;
}

#ui-controls {
  /* color: rgb(22, 22, 22); */
  width: 150px;
position: relative;
top: 15px;
left: 40%;
}

#ui-controls .min{
  float: left;
}

#ui-controls .max{
  float: right;
  margin-right: -15px;
}

.year-slider {
  width: 100%
}

label {
  font-size: 0.75em;
  font-weight: bold;
}

#about {
  max-height: calc(80vh);
  overflow-y: scroll;
}

#author {
  letter-spacing: 8px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #map {
    height: 60vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #map {
    height: 75vh;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}